Source: GitHub Actions
body {
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
  text-align: center;
  margin-top: 100px;
}

button {
  padding: 10px 20px;
  background: #06b6d4;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

button:hover {
  background: #22c55e;
}
